In [4]:
# imports - just pulled from the rental analysis homework
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import requests
import json

import warnings
warnings.filterwarnings('ignore')

In [5]:
#Tyler FRED API
#.gitignore file under Tyler_Keys

load_dotenv('Tyler_Keys/Tyler_Keys.env')
Tyler_FRED_API = os.getenv("FRED")
print(Tyler_FRED_API)

d7bd1dd8eb442bf7a65c1ff5c20a0b4e

In [6]:
# I couldn't figure out the API but will keep working on it.
# https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&api_key=abcdefghijklmnopqrstuvwxyz123456
#https://fred.stlouisfed.org/docs/api/fred/series_observations.html



# https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&api_key=abcdefghijklmnopqrstuvwxyz123456&file_type=json
api_url = "https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&api_key="+Tyler_FRED_API+"&file_type=json"


# response_data = requests.get(request_url).json()
# print(json.dumps(response_data, indent=4))

fred_api_response_data = requests.get(api_url).json()
# print(fred_api_response_data)
print(json.dumps(fred_api_response_data, indent=4))

{
    "realtime_start": "2021-05-06",
    "realtime_end": "2021-05-06",
    "observation_start": "1600-01-01",
    "observation_end": "9999-12-31",
    "units": "lin",
    "output_type": 1,
    "file_type": "json",
    "order_by": "observation_date",
    "sort_order": "asc",
    "count": 92,
    "offset": 0,
    "limit": 100000,
    "observations": [
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1929-01-01",
            "value": "1120.076"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1930-01-01",
            "value": "1025.091"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1931-01-01",
            "value": "958.378"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1932-01-01",
            "value": "834.291"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1933-01-01",
            "value": "823.156"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1934-01-01",
            "value": "911.019"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1935-01-01",
            "value": "992.537"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1936-01-01",
            "value": "1118.944"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1937-01-01",
            "value": "1177.572"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1938-01-01",
            "value": "1138.989"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1939-01-01",
            "value": "1230.22"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1940-01-01",
            "value": "1337.075"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1941-01-01",
            "value": "1574.74"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1942-01-01",
            "value": "1870.911"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1943-01-01",
            "value": "2187.818"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1944-01-01",
            "value": "2361.622"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1945-01-01",
            "value": "2337.63"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1946-01-01",
            "value": "2068.966"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1947-01-01",
            "value": "2048.293"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1948-01-01",
            "value": "2134.291"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1949-01-01",
            "value": "2121.201"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1950-01-01",
            "value": "2305.668"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1951-01-01",
            "value": "2493.148"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1952-01-01",
            "value": "2594.934"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1953-01-01",
            "value": "2715.067"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1954-01-01",
            "value": "2700.542"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1955-01-01",
            "value": "2893.97"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1956-01-01",
            "value": "2957.097"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1957-01-01",
            "value": "3020.083"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1958-01-01",
            "value": "2994.683"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1959-01-01",
            "value": "3201.683"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1960-01-01",
            "value": "3285.454"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1961-01-01",
            "value": "3371.35"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1962-01-01",
            "value": "3579.446"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1963-01-01",
            "value": "3736.061"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1964-01-01",
            "value": "3951.902"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1965-01-01",
            "value": "4208.08"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1966-01-01",
            "value": "4481.593"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1967-01-01",
            "value": "4604.613"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1968-01-01",
            "value": "4831.761"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1969-01-01",
            "value": "4980.667"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1970-01-01",
            "value": "4989.534"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1971-01-01",
            "value": "5156.41"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1972-01-01",
            "value": "5428.368"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1973-01-01",
            "value": "5746.389"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1974-01-01",
            "value": "5723.068"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1975-01-01",
            "value": "5697.677"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1976-01-01",
            "value": "6011.215"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1977-01-01",
            "value": "6293.525"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1978-01-01",
            "value": "6637.838"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1979-01-01",
            "value": "6868.092"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1980-01-01",
            "value": "6849.819"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1981-01-01",
            "value": "7011.223"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1982-01-01",
            "value": "6889.371"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1983-01-01",
            "value": "7199.441"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1984-01-01",
            "value": "7711.063"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1985-01-01",
            "value": "8007.532"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1986-01-01",
            "value": "8266.358"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1987-01-01",
            "value": "8549.125"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1988-01-01",
            "value": "8912.281"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1989-01-01",
            "value": "9239.186"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1990-01-01",
            "value": "9425.052"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1991-01-01",
            "value": "9406.669"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1992-01-01",
            "value": "9734.705"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1993-01-01",
            "value": "10000.831"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1994-01-01",
            "value": "10389.663"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1995-01-01",
            "value": "10672.832"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1996-01-01",
            "value": "11076.879"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1997-01-01",
            "value": "11556.745"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1998-01-01",
            "value": "12064.59"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "1999-01-01",
            "value": "12647.632"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2000-01-01",
            "value": "13179.965"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2001-01-01",
            "value": "13327.458"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2002-01-01",
            "value": "13553.208"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2003-01-01",
            "value": "13953.961"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2004-01-01",
            "value": "14503.006"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2005-01-01",
            "value": "15006.043"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2006-01-01",
            "value": "15398.622"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2007-01-01",
            "value": "15748.3"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2008-01-01",
            "value": "15771.553"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2009-01-01",
            "value": "15359.37"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2010-01-01",
            "value": "15803.886"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2011-01-01",
            "value": "16081.66"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2012-01-01",
            "value": "16429.308"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2013-01-01",
            "value": "16722.335"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2014-01-01",
            "value": "17146.51"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2015-01-01",
            "value": "17647.607"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2016-01-01",
            "value": "17955.437"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2017-01-01",
            "value": "18421.034"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2018-01-01",
            "value": "18951.897"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2019-01-01",
            "value": "19338.371"
        },
        {
            "realtime_start": "2021-05-06",
            "realtime_end": "2021-05-06",
            "date": "2020-01-01",
            "value": "18612.022"
        }
    ]
}

In [14]:
data_df = pd.DataFrame(fred_api_response_data)
data_df.head(10)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
1,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
2,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
3,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
4,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
5,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
6,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
7,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
8,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."
9,2021-05-06,2021-05-06,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,92,0,100000,"{'realtime_start': '2021-05-06', 'realtime_end..."

In [6]:
#PPI - Monthly

file_path = Path("Excel_Data/PPI.csv")
PPI_data = pd.read_csv(file_path, index_col="DATE")
PPI_data.head()

        PPIACO
DATE
1/1/13    12.1
2/1/13    12.0
3/1/13    12.0
4/1/13    12.0
5/1/13    11.9

In [7]:
#U.S Individual Income Tax: Tax Rates for Regular Tax: Lowest Bracket - Yearly

file_path = Path("Excel_Data/ITBLB.csv")
Individual_Tax_Lower_data = pd.read_csv(file_path, index_col="YEAR")
Individual_Tax_Lower_data.head()

        IITTRLB
YEAR
1/1/13      1.0
1/1/14      1.0
1/1/15      1.0
1/1/16      2.0
1/1/17      2.0

In [8]:
#U.S Individual Income Tax: Tax Rates for Regular Tax: Highest Bracket - Yearly

file_path = Path("Excel_Data/ITBHB.csv")
Individual_Tax_Lower_data = pd.read_csv(file_path, index_col="YEAR")
Individual_Tax_Lower_data.head()

        IITTRHB
YEAR
1/1/13      7.0
1/1/14      7.0
1/1/15      7.0
1/1/16     15.0
1/1/17     67.0

In [9]:
#Total Liabilties - Monthly

file_path = Path("Excel_Data/Total_Liabilities.csv")
Individual_Tax_Lower_data = pd.read_csv(file_path, index_col="Month")
Individual_Tax_Lower_data.head()

            LTOTL
Month
11/20/14  229.100
11/27/14  251.968
12/4/14   255.037
12/11/14  254.429
12/18/14  251.940